<!--
<div class="container mt-4" >
    <h1>Customer Registation</h1>
    <div class="card">
           
<form>
   
    <div class="form-group">
      <label >Customer Name</label>
      <input type="text" [(ngModel)]="name_customer" [ngModelOptions]="{standalone: true}" id="customer_name" name="customer_name" placeholder="Enter Name">
    </div>
    
    <div class="form-group">
        <label>CPF</label>
        <input type="number" [(ngModel)]="cpf_customer" [ngModelOptions]="{standalone: true}" id="customer_cpf" name="customer_cpf" placeholder="Enter CPF">
      </div>

      <div class="form-group">
        <label>Data</label>
        <input type="date" [(ngModel)]="date_customer" [ngModelOptions]="{standalone: true}" id="customer_data" name="customer_data" placeholder="Enter Data">
      </div>

      <div class="form-group">
        <label>Email</label>
        <input type="text" [(ngModel)]="email_customer" [ngModelOptions]="{standalone: true}" id="customer_email" name="customer_email" placeholder="Enter Email">
      </div>

      <button type="submit" class="btn btn-primary mt-4" (click)="saveRecords()">Save</button> &nbsp;
      <button type="submit" class="btn btn-warning mt-4" (click)="UpdateRecords()">Update</button>
  </form>
</div>
</div>


<div>
    <div class="container mt-4">
        <h1>Customer Table</h1>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">CPF</th>
                    <th scope="col">Date</th>
                    <th scope="col">Email</th>
                    <th scope="col">Option</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let Customer of Customers">

                    <td>{{Customer.nm_customer}}</td>
                    <td>{{Customer.nr_cpf_customer}}</td>
                    <td>{{Customer.dt_customer}}</td>
                    <td>{{Customer.ds_email_customer}}</td>

                    <td>
                        <button type="button" class="btn btn-success" (click)="setUpdate(Customer)">Edit</button>
                        <button type="button" class="btn btn-danger" (click)="setDelete(Customer)">Delete</button>
                    </td>
                </tr>

            </tbody>
        </table>


    </div>
</div>
-->

<main class="h-screen">

    <section class="grid gap-8 place-items-center place-content-center h-full">

        <form class="place-items-center place-content-center rounded-full bg-primary-200">
            <label class="p-4 font-bold text-lg text-primary-300" for="codigo_cliente">CÓDIGO: </label>
            <input class="py-1 px-4 rounded-full border-solid border-2 border-primary-300 text-primary-500" type="text" [(ngModel)]="cd_customer" [ngModelOptions]="{standalone: true}" id="query_cpf_customer" name="query_cpf_customer" placeholder="Somente numeros">
            <button class="ml-4 p-4 font-bold text-primary-200 bg-primary-300" (click)="searchCustomer()" style="border-top-right-radius: 9999px; border-bottom-right-radius: 9999px;">CONSULTAR</button>
        </form>

        <table class="table-auto w-full">
            <thead class="">
                <tr class="text-lg grid grid-cols-3 place-content-center">
                    <th class="flex place-items-start p-4">Nome</th>
                    <th class="flex place-items-start p-4">CPF</th>
                    <th class="flex place-items-start p-4">Visita</th>
                </tr>
            </thead>
    
            <tbody>
                <tr class="uppercase grid grid-cols-4 odd:bg-slate-100 even:bg-slate-50 text-primary-400" *ngFor="let customer of Customers" id="lista_clientes">
                    <td class="flex place-items-center p-4">{{customer.customer.nm_customer}}</td>
                    <td class="flex place-items-center p-4">{{customer.customer.nr_cpf_customer}}</td>
                    <td class="flex place-items-center p-4">{{customer.dt_visit_customer}}</td>
                </tr>
            </tbody>
        </table>
    </section>
</main>