<main class="h-screen">
    <section class="grid gap-8 place-items-center place-content-center h-screen">
        <div class="grid gap-4 place-content-center text-center tracking-wider">
            <h1 class="text-3xl font-bold text-primary-500">BEM-VINDO AO SITE DA CLÍNICA</h1>
            <h2 class="text-lg text-primary-500">Por aqui você consegue consultar o seu histórico de visitas na clínica</h2>

        </div>
        <div class="grid place-content-center">
            <button class="p-4 w-96 font-bold rounded-full bg-primary-100 text-primary-400" (click)="routeCustomer()">PESQUISAR</button>
            <!-- <button class="p-2 rounded-full bg-primary-100 text-primary-400" (click)="routeEmployee()">ACESSAR</button> -->
        </div>
    </section>
</main>